<%
  def link_to(name, url)
      return "<a href='#{url}'>#{name}</a>"
   end
  %>

<html>
  <body>
    <h1>Hello there</h1>
    <p>
      <h3> Hoe are you doing today?</h3>
      <p>Am sure you are doing good</p>
      <%= link_to('This is a link to google', 'http://google.com') %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>
