<h1>Welcome to my Home Page </h1>
<div>
  <p>I am Babatunde  Alli</p>
  <ul>
    <% ['Dentist', 'Programmer'].each do |work| %>
    <li> I am a <%= work %></li>
    <% end %>
    <%= Time.now %>
  </ul>
</div>
